@font-face {
  font-family: "Arvo";
  font-style: normal;
  src: url("../fonts/Arvo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Arvo";
  font-weight: bold;
  src: url("../fonts/Arvo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Arvo";
  font-style: italic;
  src: url("../fonts/Arvo-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Arvo";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Arvo-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  src: url("../fonts/Lato-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Quantico";
  font-style: normal;
  src: url("../fonts/Quantico-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Quantico";
  font-weight: bold;
  src: url("../fonts/Quantico-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Quantico";
  font-style: italic;
  src: url("../fonts/Quantico-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Quantico";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Quantico-BoldItalic.woff2") format("woff2");
}

@font-family {
  font-family: "Monoid";
  font-style: normal;
  src: url("../fonts/Monoid-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Monoid";
  font-weight: bold;
  src: url("../fonts/Monoid-Bold.woff2") format("woff2");
}

@font-family {
  font-family: "Monoid";
  font-style: italic;
  src: url("../fonts/Monoid-Italic.woff2") format("woff2");
}

:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
  }
}

html {
  font-size: 62.5%;
  background-color: var(--base);
  color: var(--subtext0);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  word-wrap: break-word;
}

h1,
h2,
h3 {
  color: var(--overlay2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
  font-weight: normal;
}

header {
  border-bottom: 0.2rem solid var(--pink);
  margin: 4.2rem 0;
}

main a,
footer a {
  color: var(--sky);
}

main a:not(.footnote-ref):hover,
main .footnote-ref *:hover,
footer a:hover {
  color: var(--base);
  background: var(--sky);
}

#subdomains li a:hover {
  background: none !important;
}

a {
  text-decoration: none;
  font-family: "Quantico", monospace;
}

a:hover,
a *:hover {
  transition-duration: 0.1s;
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 0 auto 3rem;
}

nav a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--sapphire);
  text-transform: uppercase;
  padding: 0.5rem;
}

nav a:hover {
  background: var(--sapphire);
  color: var(--base);
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid var(--pink);
  font-size: 1.2rem;
  color: var(--text);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

.post-title {
  text-align: center;
  color: var(--subtext1);
}

article .post-header {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--text);
}

#nattopages {
  text-align: center;
  margin: 1rem auto 3rem;
}

#nattopages a {
  font-weight: bold;
  font-family: "Monoid";
  font-size: 3rem;
  color: var(--overlay2);
  text-decoration: none;
}

article > section {
  overflow: auto;
}

.post-teaser > .toc {
  display: none;
}

.center {
  text-align: center;
  font-weight: bold;
}

.verbatim {
  background: var(--mantle);
}

pre {
  font-family: "Monoid", monospace;
  padding: 2rem;
  border-radius: 1rem;
  border-left: 0.5rem solid var(--sapphire);
  background: var(--mantle);
  overflow-x: auto;
}

.toc {
  background: var(--mantle);
  border-radius: 1rem;
  float: none;
  width: max-content;
}

img,
video {
  max-width: 100%;
}

.iframe-parent {
  max-width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.iframe-parent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sticker {
  bottom: -2em;
  left: -2em;
  position: fixed;
  z-index: 9999;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sticker label:hover {
  cursor: pointer;
}

#sticker-toggle {
  display: none;
}

#sticker-toggle:checked ~ #sticker {
  bottom: 1em;
  left: 1em;
}

#sticker-toggle:checked ~ #sticker img {
  display: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  footer {
    text-align: center;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    display: block;
    line-height: 1.6;
  }

  .toc {
    padding: 1rem;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  footer {
    text-align: center;
  }

  nav a {
    display: inline;
    margin: 0 0.6rem;
  }

  .toc {
    padding: 1rem;
  }
}

@media (max-width: 639px) {
  #sticker {
    display: none;
  }

  nav {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  body {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }

  footer {
    text-align: right;
  }

  .toc {
    padding: 2rem;
  }
}
