<ul class="post-preview-item-list">
    $for(posts)$
        <li class="post-preview-item" >
            <article>
                <h1 class="post-title">$title$</h1>
                <div class="post-header">
                    <div class="post-date" >
                        Posted $date$
                    </div>
                    <div class="tags" >
                        $if(tags)$
                          Tags: $tags$
                        $endif$
                    </div>
                </div>
                <div class="post-teaser">
                    $if(teaser)$
                      $teaser$
                    $else$
                      $body$
                    $endif$
                </div>
                <a href="$url$">Read more</a>
            </article>
        </li>
    $endfor$
</ul>
